img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.demo-login-container {
    width: 350px;
    margin: 21px auto 0;
}

.demo-login-other .layui-icon {
    position: relative;
    display: inline-block;
    margin: 0 2px;
    top: 2px;
    font-size: 26px;
}
.logo{
    width: 200px;
}
h1{
    text-align: center;
    color: #fff;
    font-size: 40px;
}